.dropdown {
  position: relative;
  display: inline-block;
}

.filter-name {
  text-transform: uppercase;
  font-weight: 350;
  letter-spacing: 3px;
  font-size: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9cc6ed;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0;
  width: 350px;
}

.dropdown-content p:hover {
  background-color: #a3dfa1;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.navbar-c-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: rgb(138, 145, 247);
  border-style: solid;
  border-width: 0 0px 2px 0px;
  padding: 10px 10px 10px 10px;
  background-color: rgb(91, 107, 216);
  color: black
}

.navbar-c-logo {
  height: 40px;
}

.btn-register-login {
  background-color: white;
  border-color: rgb(179, 179, 179);
  border-radius: 7.5px;
  border-width: 1px;
  margin-right: 20px;
}

.filters-c-items {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: rgb(91, 107, 216);
  border-style: solid;
  border-width: 0 0px 2px 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 300;
  background-color: rgb(91, 107, 216);
}

.searchbar {
  border-radius: 10px;
  width: 500px;
  height: 35px;
  background-color: #f5f2f2;
  border: 0;
  margin-left: 150px;
}

.dropbtn {
  background-color: #04AA6D;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}